.item1{grid-column: 4/6;}
.item2{
    align-self: center;
    grid-column: 1/3;
}
.item3{align-self: center; grid-column: 3/6;}
.item4{background:LightPink;}
.item5 {
    align-self: center;
    grid-column: 1/4;
}
.item6 {
    align-self: center;
    /* background:rgb(197, 237, 246); */
    grid-column: 4/6; 
}
.item7 {
    /* background:rgb(248, 230, 253); */
    align-self: center;
    grid-column: 1/4; 
}
.item8 {
    /* background:rgb(248, 230, 253); */
    align-self: center;
    grid-column: 1/4; 
    max-width: 100%;
}
.item9 {
    /* background:rgb(248, 230, 253); */
    align-self: center;
    grid-column: 4/7; 
    max-width: 100%;
}
.item10 {
    /* background:rgb(248, 230, 253); */
    align-self: center;
    grid-column: 1/3; 
    max-width: 100%;
}
.item11 {
    /* background:rgb(248, 230, 253); */
    align-self: center;
    grid-column: 3/7; 
    max-width: 100%;
}
.p1 {
    width: 100%;
}

#vote1 {
    max-width: 100%;
}

#vote2 {
    max-width: 100%;
}

#fff1 {
    max-width: 100%;
}

#fff2 {
    max-width: 100%;
}

#fff3 {
    max-width: 100%;
}

#fff4 {
    max-width: 100%;
}

#fff5 {
    max-width: 100%;
}

#order {
    max-width: 100%;
}

#linked {
    max-width: 100%;
}
#time {
    max-width: 100%;
}
#suggestion {
    max-width: 100%;
}
#diwali{
    max-width: 100%;
}
#study {
    max-width: 100%;
}

#kickoff {
    max-width: 100%;
}

body {
    background-color: rgb(219, 229, 255);
}

.container {
    font-size: 40px;
    min-height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.banner {
    font-size: 40px;
    max-height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.phone {
    font-size: 40px;
    min-height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.square {
    font-size: 40px;
    min-height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}